<ion-header [translucent]="true" no-border>
    <ion-toolbar color="dark">
        <ion-title>
            Favorites
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
    <div *ngIf="dataLocalService.noticias.length === 0">
        <ion-slides>
            <ion-slide>
                <ion-label>There's no favorites</ion-label>
            </ion-slide>
        </ion-slides>
    </div>
    <app-noticias *ngIf="dataLocalService.noticias.length > 0" [noticias]="dataLocalService.noticias"></app-noticias>
</ion-content>